/* Стили для пагинации */
.pagination {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style: none;
    justify-content: center; /* Выравнивание пагинации по центру */
    margin-bottom: 20px;
}

.pagination .page-item {
    list-style: none;
    margin-right: 10px; /* Отступ между элементами */
}

.pagination .page-item:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

.page-item {
    margin-bottom: 4px;
}

.page-link {
    color: white; /* Белый цвет текста */
    text-decoration: none;
    background-color: #28a745; /* Зеленый цвет фона кнопок */
    border: 1px solid #28a745;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* Цвет текста для ссылок в состояниях link и visited */
.page-link:link,
.page-link:visited {
    color: white; /* Белый цвет текста */
}

.page-link:hover {
    color: white; /* Белый цвет текста при наведении */
    background-color: #218838; /* Темно-зеленый цвет фона кнопок при наведении */
    border-color: #218838;
}

.page-item.active .page-link {
    color: white; /* Белый цвет текста */
    background-color: #ffc107; /* Желтый цвет для активного элемента */
    border-color: #ffc107;
}

.page-item.disabled .page-link {
    color: white; /* Белый цвет текста */
    background-color: #6c757d; /* Темно-серый цвет фона для неактивного элемента */
    border-color: #dee2e6;
}

.page-link:focus {
    text-decoration: none; /* Убирает подчёркивание при фокусе */
    color: white; /* Белый цвет текста при фокусе */
}