/* styles.css */

/* Определение основного шрифта и внешнего отступа для всего контента страницы */
body {
    font-family: Arial, sans-serif; /* Используемый шрифт */
    margin: 20px; /* Внешний отступ для всего контента */
}

/* Стили для заголовка h1 */
h1 {
    color: #007bff; /* Цвет текста заголовка */
    text-align: center; /* Выравнивание текста по центру */
    margin-top: 0; /* Убираем верхний отступ заголовка */
}

/* Стили для таблицы */
table {
    width: 100%; /* Ширина таблицы равна 100% от родительского контейнера */
    border-collapse: collapse; /* Слияние границ ячеек */
    margin-top: 20px; /* Отступ сверху для таблицы */
}

/* Стили для ячеек заголовка и данных таблицы */
th, td {
    padding: 10px; /* Внутренний отступ в ячейках */
    text-align: left; /* Выравнивание текста в ячейках по левому краю */
    border: 1px solid #ddd; /* Граница ячеек */
}

/* Стили для ячеек заголовка таблицы */
th {
    background-color: #f2f2f2; /* Цвет фона ячеек заголовка */
}

/* Стили для первой колонки таблицы */
tr, td:first-child {
    width: 40%; /* Ширина первой колонки равна 40% от общей ширины таблицы */
}

/* Стили для контейнера, содержащего основное содержимое страницы */
.container {
    width: 90%; /* Ширина контейнера равна 90% от родительского контейнера */
    max-width: 2000px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Автоматическое выравнивание контейнера по центру */
}

/* Стили для формы входа */
.login-form {
    display: flex; /* Используем Flexbox для расположения элементов формы */
    flex-direction: column; /* Располагаем элементы формы в столбец */
    align-items: center; /* Выравниваем элементы формы по центру по горизонтали */
    justify-content: center; /* Выравниваем элементы формы по центру по вертикали */
    height: 100vh; /* Высота формы равна высоте окна браузера */
}

/* Стили для меток (label) в форме входа */
.login-form label {
    margin-bottom: 10px; /* Внешний отступ снизу для меток */
}

/* Стили для полей ввода текста и пароля в форме входа */
.login-form input[type="text"],
.login-form input[type="password"] {
    max-width: 300px; /* Максимальная ширина полей ввода */
    width: 100%; /* Ширина полей ввода равна 100% от родительского контейнера */
    padding: 10px; /* Внутренний отступ для полей ввода */
    margin-bottom: 10px; /* Внешний отступ снизу для полей ввода */
    border: 1px solid #ccc; /* Граница полей ввода */
    border-radius: 5px; /* Закругление углов полей ввода */
}

/* Стили для кнопок в форме входа и других действий */
.login-button,
.action-button {
    background-color: #28a745; /* Зеленый цвет фона кнопок */
    color: white; /* Цвет текста кнопок */
    padding: 10px 20px; /* Внутренний отступ для кнопок */
    border: none; /* Убираем границу у кнопок */
    border-radius: 5px; /* Закругление углов кнопок */
    cursor: pointer; /* Устанавливаем курсор указателя при наведении на кнопки */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона кнопок при наведении */
}

/* Псевдоклассы для кнопок в форме входа и других действий при наведении */
.login-button:hover,
.action-button:hover {
    background-color: #218838; /* Темно-зеленый цвет фона кнопок при наведении */
}

/* Стили для элементов списка отчётов */
.report-list {
    height: calc(100vh - 260px); /* Высота списка равна разности между высотой видимой области и суммой высот контейнера .container и контейнера .actions */
    overflow-y: auto; /* Включаем вертикальную прокрутку списка при необходимости */
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренний отступ для списка */
}

/* Стили для элементов списка (каждого отдельного отчёта) */
.report-list li {
    list-style-type: none; /* Убираем маркеры списка */
    margin-bottom: 3px; /* Уменьшаем расстояние между элементами списка по вертикали */
}

/* Стили для ссылок внутри списка отчётов */
.report-list li a {
    display: block; /* Превращаем ссылку в блочный элемент */
    padding: 10px; /* Внутренний отступ для ссылок */
    background-color: #808080; /* Серый цвет фона ссылок */
    color: white; /* Белый цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    border-radius: 5px; /* Закругление углов ссылок */
}

/* Псевдокласс для ссылок внутри списка отчётов при наведении */
.report-list li a:hover {
    background-color: #555555; /* Темно-серый цвет фона ссылок при наведении */
}

/* Стили для контейнера кнопок действий (например, кнопок "Выход", "Добавить отчёт" и т.д.) */
.actions {
    position: fixed; /* Фиксируем позицию контейнера */
    bottom: 10px; /* Привязываем контейнер к нижнему краю окна браузера */
    width: 100%; /* Ширина контейнера равна ширине окна браузера */
    text-align: center; /* Выравниваем кнопки по центру */
    margin-top: 20px; /* Немного отступа от таблицы до кнопок */
}

/* Стили для кнопок действий (зеленого цвета) в контейнере */
.actions button {
    background-color: #28a745; /* Зеленый цвет фона кнопок */
    color: white; /* Белый цвет текста кнопок */
    padding: 10px 20px; /* Внутренний отступ для кнопок */
    border: none; /* Убираем границу у кнопок */
    border-radius: 5px; /* Закругление углов кнопок */
    cursor: pointer; /* Устанавливаем курсор указателя при наведении на кнопки */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона кнопок при наведении */
}

/* Псевдоклассы для кнопок действий (зеленого цвета) при наведении */
.actions button:hover {
    background-color: #218838; /* Темно-зеленый цвет фона кнопок при наведении */
}

/* Стили для ссылок внутри контейнера кнопок действий */
.actions a {
    text-decoration: none; /* Убираем подчеркивание у ссылок внутри контейнера кнопок */
}

/* Стили для кнопок действий (желтого цвета) в контейнере */
.actions button.yellow-button {
    background-color: #ffc107; /* Желтый цвет фона кнопок */
    color: white; /* Белый цвет текста кнопок */
    padding: 10px 20px; /* Внутренний отступ для кнопок */
    border: none; /* Убираем границу у кнопок */
    border-radius: 5px; /* Закругление углов кнопок */
    cursor: pointer; /* Устанавливаем курсор указателя при наведении на кнопки */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона кнопок при наведении */
}

/* Псевдоклассы для кнопок действий (желтого цвета) при наведении */
.actions button.yellow-button:hover {
    background-color: #d39e00; /* Темно-желтый цвет фона кнопок при наведении */
}

/* Стили для полей ввода */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: 80px; /* Ширина полей ввода */
}

/* Стили для кнопок внутри группы формы */
.form-group button {
    background-color: #28a745; /* Зеленый цвет фона кнопок */
    color: white; /* Белый цвет текста кнопок */
    padding: 10px 20px; /* Внутренний отступ для кнопок */
    border: none; /* Убираем границу у кнопок */
    border-radius: 5px; /* Закругление углов кнопок */
    cursor: pointer; /* Устанавливаем курсор указателя при наведении на кнопки */
    transition: background-color 0.3s ease; /* Плавный переход цвета фона кнопок при наведении */
}

/* Псевдоклассы для кнопок внутри группы формы при наведении */
.form-group button:hover {
    background-color: #218838; /* Темно-зеленый цвет фона кнопок при наведении */
}

/* Стили для меток (label) в форме */
.form-group label {
    width: 200px; /* Задайте ширину метки */
    display: inline-block; /* Для корректного отображения ширины */
}

