{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование ежедневного отчёта</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <p class="user-info">Пользователь: <b>{{ user.last_name }} {{ user.first_name }}</b></p>
    <h1>Редактирование ежедневного отчёта</h1>
    <form method="post" class="form-group" action="{% url 'edit_daily_report' report_id %}">
        {% csrf_token %}
        <table class="form-table">
            <tr>
                <th>{{ form.department.label }} </th>
                <td>{{ form.department }} </td>
            </tr>
            <tr>
                <th>{{ form.report_date.label }} </th>
                <td>{{ form.report_date }} </td>
            </tr>
            <tr>
                <th>{{ form.field_1.label }} </th>
                <td>{{ form.field_1 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_2.label }} </th>
                <td>{{ form.field_2 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_3.label }} </th>
                <td>{{ form.field_3 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_4.label }} </th>
                <td>{{ form.field_4 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_5.label }} </th>
                <td>{{ form.field_5 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_6.label }} </th>
                <td>{{ form.field_6 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_7.label }} </th>
                <td>{{ form.field_7 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_8.label }} </th>
                <td>{{ form.field_8 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_9.label }} </th>
                <td>{{ form.field_9 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_10.label }} </th>
                <td>{{ form.field_10 }} </td>
            </tr>
            <tr>
                <th>{{ form.field_11.label }} </th>
                <td>{{ form.field_11 }} </td>
            </tr>
        </table>
        <div class="actions">
            <button type="submit">Сохранить изменения</button>
            <!-- Кнопка "Назад к списку отчётов" -->
            <a href="{% url 'daily_reports' %}" class="action-link">
                <button type="button">Назад к списку отчётов</button>
            </a>
            <!-- Кнопка "Вернуться на Главную" -->
            <a href="{% url 'dashboard' %}" class="action-link">
                <button type="button">Вернуться на Главную</button>
            </a>
        </div>
    </form>
</body>
</html>
