{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сводный отчёт</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Дата {{ selected_date| date:"d.m.Y" }}</h1>
    <h1>Имя файла {{ file_name }}</h1>

    <!-- Список ссылок на отчёты -->
    <h2>тчёты за выбранную дату:</h2>
    <ul class="report-list">
        {% for report in reports %}
        <li>
            <a href="{% url 'report_details' report.id %}" class="action-button">
                {{ report.report_date|date:"d.m.Y" }} - {{ report.department.name }} - {{ report.author.last_name }} {{ report.author.first_name }}
            </a>
        </li>
        {% empty %}
        <li>Нет доступных отчётов</li>
        {% endfor %}
    </ul>
</body>
</html>
