{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Список отчётов</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Список ежедневных отчётов по охране</h1>
            <!-- Контейнер для кнопок -->
            <div class="button-container">
                <!-- Форма для выбора даты -->
                <form method="post" class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Показать отчёты на указанную дату</button>
                </form>
            </div>
            <!-- Список ссылок на отчёты -->
            <ul class="report-list">
                {% for report in reports %}
                <li>
                    <a href="{% url 'report_details' report.id %}" class="action-button">
                        {{ report.report_date|date:"d.m.Y" }} - {{ report.department.name }} - {{ report.user_full_name }}
                    </a>
                </li>
                {% empty %}
                <li>Нет доступных отчётов</li>
                {% endfor %}
            </ul>
        </div>
        <!-- Кнопки  -->
        <div class="actions">
            <!-- Кнопка "Выход" -->
            <a href="{% url 'accounts:custom_logout' %}" class="action-link">
                <button type="button">Выход</button>
            </a>
            <!-- Кнопка "Вернуться на Главную" -->
            <a href="{% url 'dashboard' %}" class="action-link">
                <button type="button">Вернуться на Главную</button>
            </a>
            <!-- Кнопка "Добавить новый ежедневный отчёт" -->
            <a href="{% url 'add_daily_report' %}" class="action-link">
                <button type="button">Добавить новый ежедневный отчёт</button>
            </a>
            <!-- Кнопка "Показать все отчёты" -->
            <a href="{% url 'daily_reports' %}" class="action-link">
                <button type="button">Показать все отчёты</button>
            </a>
            <!-- Кнопка "Сводный отчёт" -->
            {% if request.user.username in summary_reports_creators %}
            <a href="{% url 'summary_report' %}" class="action-link">
                <button type="button" class="yellow-button">Сводный отчёт</button>
            </a>
            {% endif %}
        </div>
    </body>
</html>
