{% extends 'base.html' %}
{% block title %}Детали отчёта{% endblock %}
{% block styles %}
<style>    
    tr, td:first-child {
        width: 40%; /* Ширина первой колонки равна 40% от общей ширины таблицы */
    }
</style>    
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Детали отчёта</h1>
        <p><strong>Дата отчёта:</strong> {{ report.report_date | date:"d.m.Y" }}</p>
        <p><strong>Автор:</strong> {{ user_full_name }}</p>
        <p><strong>Подразделение:</strong> {{ report.department.name }}</p>
        <hr>
        <div class="report-list">
            <table onclick="redirectToEditPage();">
                <tr>
                    <th>Поле</th>
                    <th>Значение</th>
                </tr>
                <tr>
                    <td>Незакрытие постов охраны:</td>
                    <td>{{ report.field_1 }}</td>
                </tr>
                <tr>
                    <td>Отсутствие спец. средств и оружия:</td>
                    <td>{{ report.field_2 }}</td>
                </tr>
                <tr>
                    <td>Ненадлежащее проведение досмотра:</td>
                    <td>{{ report.field_3 }}</td>
                </tr>
                <tr>
                    <td>Самовольное покидание поста:</td>
                    <td>{{ report.field_4 }}</td>
                </tr>
                <tr>
                    <td>Допущение проникновения посторонних лиц:</td>
                    <td>{{ report.field_5 }}</td>
                </tr>
                <tr>
                    <td>Допущение прохода по чужому пропуску (без пропуска):</td>
                    <td>{{ report.field_6 }}</td>
                </tr>
                <tr>
                    <td>Нахождение на посту в нетрезвом виде:</td>
                    <td>{{ report.field_7 }}</td>
                </tr>
                <tr>
                    <td>Неприбытие ГБР:</td>
                    <td>{{ report.field_8 }}</td>
                </tr>
                <tr>
                    <td>Иные значимые нарушения:</td>
                    <td>{{ report.field_9 }}</td>
                </tr>
                <tr>
                    <td>Количество проведенных проверок СБ за прошедшие сутки:</td>
                    <td>{{ report.field_10 }}</td>
                </tr>
                <tr>
                    <td>Количество направленных претензионных писем за прошедшие сутки:</td>
                    <td>{{ report.field_11 }}</td>
                </tr>
            </table>
            <script>
                function redirectToEditPage() {
                    window.location.href = '{% url "daily_reports:edit_daily_report" report.id %}';
                }
            </script>
        </div>
    </div>
{% endblock %}
{% block buttons %}
    <div class="actions">
        <!-- Кнопка "Редактирование отчёта" -->
        <a href="{% url 'daily_reports:edit_daily_report' report.id %}" class="action-link">
            <button type="button">Редактирование отчёта</button>
        </a>
        <!-- Кнопка "Добавить новый ежедневный отчёт" -->
        <a href="{% url 'daily_reports:add_daily_report' %}" class="action-link">
                <button type="button">Добавить новый ежедневный отчёт</button>
        </a>
        <!-- Кнопка "Назад к списку отчётов" -->
        <a href="{% url 'daily_reports:daily_reports' %}" class="action-link">
            <button type="button">Назад к списку отчётов</button>
        </a>
    </div>
{% endblock %}