{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>

    <form method="post" class="login-form"> <!-- Применяем класс "login-form" -->
        <h2>Изменение пароля</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="login-button">Изменить пароль</button> <!-- Применяем класс "login-button" -->
    </form>
</body>
</html>

