{% extends 'base.html' %}
{% block title %}Список отчётов{% endblock %}
{% block content %}
    <h1>Список отчётов за 6 месяцев 2024 года</h1>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Компания/Филиал ПАО "Т Плюс"</th>
                    <th>Пользователь</th>
                    <th>Создано</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr>
                        <td><a href="{% url 'update_report' report.pk %}">{{ report.company.name }}</a></td>
                        <td><a href="{% url 'update_report' report.pk %}">{{ report.user.last_name }} {{ report.user.first_name }}</a></td>
                        <td><a href="{% url 'update_report' report.pk %}">{{ report.created_at }}</a></td>
                        <td>
                            <a href="{% url 'update_report' report.pk %}">Редактировать</a>
                            <a href="{% url 'delete_report' report.pk %}">Удалить</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block buttons %}
    <div class="actions">
        <a href="{% url 'create_report' %}" class="action-link"><button type="button">Создать новый отчёт</button></a>
        <a href="{% url 'dashboard' %}" class="action-link"><button type="button">Вернуться на Главную</button></a>
        <a href="{% url 'generate_sixmonths_2024_summary_report' %}" class="action-link"><button type="button">Отчёт</button></a>
    
    </div>
{% endblock %}