{% extends 'base.html' %}
{% block title %}Отчёт по служебным проверкам{% endblock %}
{% block content %}
    <h1>Отчёт по служебным проверкам</h1>
    <div class="container">
        
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Показать отчёты</button>
            <button type="submit" formaction="{% url 'investigations:generate_summary_report' 0 %}">Отчёт по всем организациям</button>
            <button type="submit" formaction="{% url 'investigations:generate_summary_report' 1 %}">Отчёт ПАО "Т Плюс"</button>
            <button type="submit" formaction="{% url 'investigations:generate_summary_report' 2 %}">Отчёт АО "ЭнергосюбыТ Плюс"</button>
            <button type="submit" formaction="{% url 'investigations:generate_summary_report' 3 %}">Отчёт АО "ЭнергоремонТ Плюс</button>
        </form>
        <!-- Список ссылок на отчёты -->
        <ul class="report-list">
            {% for investigation in investigations %}
                <li>
                    <a href="{% url 'investigations:investigation_detail' investigation.id %}" class="action-button">
                        {{ investigation.order_date|date:"d.m.Y" }} - {{ investigation.department.name }} - {{ investigation.title }} - {{ investigation.get_status_display }} - {{ investigation.brief_summary|truncatewords:30 }}
                        {% if investigation.has_attach > 0 %}
                            (<strong>Вложений: </strong>{{ investigation.has_attach }})
                        {% endif %}
                    </a>
                </li>
            {% empty %}
                <li>Нет доступных отчётов</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% block buttons %}
    <div class="actions">
        <!-- Кнопка "Назад к списку отчётов" -->
        <a href="{% url 'investigations:investigation_list' %}" class="action-link">
            <button type="button">Назад к списку отчётов</button>
        </a>
        <!-- Кнопка "Вернуться на Главную" -->
        <a href="{% url 'dashboard' %}" class="action-link">
            <button type="button">Вернуться на Главную</button>
        </a>
    </div>
{% endblock %}